@import url("./fonts.css");
body {
  background-color: #00a67e;
  font-family: var(--font-primary);
}
.form-container {
  width: 50%;
  margin: 0 auto;
  background-color: azure;
  border-radius: 15px;

  .header-rna {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .select-age_gender_medications {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }

  .container_questions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .questions {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin-right: 10px;
      }
    }
  }
}
